@*@using Shop.ViewModels

@model CarsListViewModel*@

@*@{
    Layout = "_Layout";
}

<!DOCTYPE html>*@

@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>*@




    <h2>All cars</h2>
    <h3>@Model.currCategory</h3>
    @{
        foreach (var car in Model.allCars)
        {
            <div>
                <h2>Model: @car.name</h2>
                <p>Price: @car.price.ToString("c")</p>
            </div>
        }
    }




@*</body>
</html>*@

@*h1>Все автомобили</h1>
<h3>@Model.currCategory</h3>
@{
    foreach (var car in Model.allCars)
    {
        <div>
            <h2>Модель: @car.name</h2>
            <p>Цена: @car.price.ToString("c")</p>
        </div>
    }
}*@